@import "../Variabels/variabels";

.button {
  background-color: $color-pink;
  border-color: $color-pink;
  color: $color-text-white;
  cursor: pointer;
  padding: 15px 20px !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
  margin-bottom: 145px;
}
