// Colors.
$color-pink: #e3207b;
$color-background-light: #333333;
$color-background-dark: #222222;
$color-background-m: #222831;
$color-background-black: #000;
$color-background-white: #fff;
$color-text-white: #fff;
$color-tetx-gray: #9b9b9b;

// Sizes.
